body{
    background-color: black;
    color: white;
    font-family: Verdana;
    font-size: 36 pixels;
}
#heading1{
    background-color: black;
    color: white;
    font-family: Verdana;
    font-size: 36 pixels;
}
#paragraph1{
    background-color: black;
    color: white;
    font-family: Verdana;
    font-size: 20 pixels;
}